
<app-loading *ngIf="isLoading"></app-loading>
<div class="py-5">
    <div  *ngIf="step1" class="w-75 mx-auto mt-3 rounded p-3 shadow">
        <form  [formGroup]="forgetForm" (ngSubmit)="forgetpassword()">
            <input  formControlName="email" type="email" placeholder="Email..." id="email" class="form-control">
            <button class="w-100 mt-3 bg-main btn text-white ">Submit Email</button>
            <p *ngIf="userMsg" class="alert alert-danger w-75 mx-auto p-1 my-5">{{userMsg}}</p>
        </form>
    </div>
    
    <div *ngIf="step2" class="w-75 mx-auto mt-3 rounded p-3 shadow">
        <form [formGroup]="resetcodeform" (ngSubmit)="resetcode()">
            <input formControlName="resetCode" type="text" placeholder="Resetcode..." id="resetcode" class="form-control">
            <button class="w-100 mt-3 bg-main btn text-white ">Confirm Code</button>
               <p *ngIf="userMsg" class="alert alert-danger w-75 mx-auto p-1 my-5 ">{{userMsg}}</p>
        </form>
    </div>


    <div *ngIf="step3" class="w-75 mx-auto mt-3 rounded p-3 shadow">
        <form [formGroup]="resetpassword" (ngSubmit)="newpassword()" >
            <input type="password" placeholder="Reset Password..." formControlName="newPassword" id="newpassword" class="form-control">
            <button class="w-100 mt-3 bg-main btn text-white ">Reset password</button>
               <p *ngIf="userMsg" class="alert alert-danger w-75 mx-auto p-1 my-5">{{userMsg}}</p>
        </form>
    </div>
</div>



